<%- include('header.ejs') %>

<main>
    <div class="container">
        <form action="" method="POST">
            <div>
                <h3>Entrez votre message</h3>
            </div>
            <section>
                <h2><%= emptyForm %></h2>
                <h2><%= valideForm %></h2>
            </section>
            <div id="input_parent" >
                <input type="text" name="name" value="<%= body.name||'' %>" placeholder="Votre nom" >
            </div>
            <div id="textarea_parent">
                <textarea name="content" id="" cols="30" rows="10" placeholder="Votre message"><%= body.content||'' %></textarea>
            </div>
            <div id="button_parent">
                <button type="submit" >envoyer</button>
            </div>
        </form>
    </div>
    <div id="message_container">
        <% rows.forEach(el => { %>
            <% 
                const {id,name,content,created_at}=el
                const firstLetter=name.substr(0,1);
                const date=(new Date(created_at)).toLocaleDateString()
            %>
            <div class="card">
                <div class="logo_parent" >
                    <div class="logo" ><%= firstLetter %></div>
                </div>
                    <section>
                        <div>
                            <h1><%= name %> <mark><%= date %></mark> </h1>
                        </div>
                        <p><%= content %></p>
                </section>
            </div>
            
        <% }) %>
    </div>
</main>

<%- include('footer.ejs') %>
